<a href="https://colab.research.google.com/github/manu549/jntua-python/blob/master/Day10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loops
* While loop
* For loop

In [4]:
#print numbers from 1 to n
#input 10
#output 1 2 .... 10
n=int(input("Enter number : "))
i=1
while(i<=n):
  print(i,end="\n ") # end="" --> For printing in a single line
  i=i+1

Enter number : 10
1
 2
 3
 4
 5
 6
 7
 8
 9
 10

In [13]:
#print sum of even numbers
n=int(input("Enter number : "))
i=1
sum1=0
while(i<=n):
  if(i%2==0):
    if(i!=n):
      print(i,end="+")
      sum1=sum1+i
    else:
      print(i,end="")
      sum1=sum1+i

  i=i+1
print("=",sum1)

Enter number : 10
2+4+6+8+10= 30

In [20]:
#palindrome
n=int(input("Enter number :"))
temp=n
last=0
rev=0
while(n>0):
  last=n%10
  rev=rev*10+last
  n=n//10
if(temp==rev):
  print(rev,"is a palindrome")
else:
  print(rev,"is not a palindrome")

Enter number :123
321 is not a palindrome

#Functional Programming
- simple
- easy to understand
- better reusability
- lengthy program will be divided into sub-programs

In [0]:
def nameOfTheFunction(<parameters>):
  statements
  return

In [22]:
#sum of even digits using functions
#input=1234
#output=2+4=6
def sumOfEven(n):
  sum=0
  while n!=0:
    last=n%10
    if(last%2==0):
      
      sum=sum+last
    n=n//10
  return sum
sumOfEven(1234)

6

In [0]:
#greatest digit in number
def great(a,b):
  if(a>b):
    return a
  else:
    return b
    

n=97625
first=0
while n!=0:
  n=n%10
  great(first,last)

#For loop

In [0]:
for i in range(start,stop,step):
  statements

In [28]:
#print the numbers between limits using functions
#input = 11 25
#output=11,12,....25
def s(a,b):
  for i in range(a,b+1):
    print(i,end=" ")
  return
s(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [27]:
def large(n):
  first=0
  last=0
  great=0
  while(n!=0):
    last=n%10
    if(great<last):
      great=last
    n=n//10
  return great
large(76539)

9

In [30]:
#input=500,520
#output=500,504,508,......520
def series(a,b):
  for i in range(a,b+1,4):
    print(i,end=" ")
  return
series(500,520)

500 504 508 512 516 520

500

#Collection types:

---


* List
- Tuple
* Dictionary

---



#List :


---


- One of the data structure in python
- Data structure means to store,sort and search options
- It's one common data structure in python.
- The items of list are separated by comma and enclosed by square brackets
- List is mutable i.e values can be change
- List has two types of indices.
  * Positive index:
     * List index starts with 0
  * Negative index:
     * Starts from end of the list with -1
- Eg:
    list1 =[1,2,3,4,5]

In [43]:
list = [1,2,3,4,5]
print(list[0],end=" ")
print(list[1],end=" ")
print(list[2],end=" ")
print(list[3],end=" ")
print(list[4])
print(list[-1],end=" ")
print(list[-2],end=" ")
print(list[-3],end=" ")
print(list[-4],end=" ")
print(list[-5])
print(list[:])
print(list[2:])
print(list[:2])
print(list[2:4])
print(list[-3:-1])
print(list[::1])
print(list[::2])
print(list[::3])
print(list[::4])
print(list[::5])

1 2 3 4 5
5 4 3 2 1
[1, 2, 3, 4, 5]
[3, 4, 5]
[1, 2]
[3, 4]
[3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5]
[1, 4]
[1, 5]
[1]

In [47]:
list=["jntua",5,"python",6,9]
print(list)

# update
list[1]=100
print(list)
list[3]=''
print(list)

#delete the list item
del list[2]
print(list)

['jntua', 5, 'python', 6, 9]
['jntua', 100, 'python', 6, 9]
['jntua', 100, 'python', '', 9]
['jntua', 100, '', 9]

#Basic list operations

---

In [53]:
list=[1,2,3,4,5]

#Length of the list
print(len(list))

#List appears two times
print(list*2)

#checks item in list is there or not
print(4 in list)
print(9 in list)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False



---


#List functions

---


- max
- min
- sum
- append
- insert -->  list.insert(index,item)
- count
- index
- sort
- pop

In [75]:
list=[5,3,6,2,9]

# maximun item in list
print(max(list))

# minimum item in list
print(min(list))

# sum of the items in the list
print(sum(list))

# Average of the items in the list
print(sum(list)/len(list))

#Appending item to end of the list
list.append(56)
print(list)

# inserting item 
list.insert(1,5)
print(list)

# count --> How many times the item appears
print(list.count(5))

# index --> We get the index of the given item
print(list.index(5))

# sort --> arranges in increasing order
list.sort()
print(list)

# pop --> defaultly deletes last index item and deletes given item
list.pop()
print(list)
list.pop(2)
print(list)

9
2
25
5.0
[5, 3, 6, 2, 9, 56]
[5, 5, 3, 6, 2, 9, 56]
2
0
[2, 3, 5, 5, 6, 9, 56]
[2, 3, 5, 5, 6, 9]
[2, 3, 5, 6, 9]

In [82]:
# Using functions return large number from the list
def largeNumber(li):
  li.sort()
  return li,li[-1]
   
def genericLarge(li,n):
  li.sort()
  return li[-n]
list=[13,12,35,78,2,74,43]
print(largeNumber(list))
print(genericLarge(list,3))

([2, 12, 13, 35, 43, 74, 78], 78)
43

In [86]:
# Using functions return small number from the list
def small(li):
  li.sort()
  return li,li[0]
   
def genericSmall(li,n):
  li.sort()
  return li[n-1]
list=[13,12,35,78,2,74,43]
print(small(list))
print(genericSmall(list,2))

([2, 12, 13, 35, 43, 74, 78], 2)
12



---
#Tuples :
- paranthesis..()   -->