<a href="https://colab.research.google.com/github/manu549/jntua-python/blob/master/DAY9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Markdown
##Markdown
###Markdown
####Markdown
#####Markdown
######Markdown

**Points**
*Points*
***Points***
#***Points***

In [3]:
print("Hello")

Hello

In [4]:

print("hello","world")

hello world

In [5]:
print("hello,Jntua","|||","Cse","|||","cHEMICAL","|||","MCA")

hello,Jntua ||| Cse ||| cHEMICAL ||| MCA

#ASSIGNMENT

In [10]:
n1=100 #single variable assignment
print(n1)
a=b=c=10 #multiple variable assignment of same value
print(a,b,c)
d,e,f=100,200,300 #multiple variable assignment of different value
print(d,e,f)

100
10 10 10
100 200 300

#Data Types and conversions
* int
* float
* string

In [18]:
#data types
i=100
f=10.2
s="python"
print(type(i),type(f),type(s))
#conversions
i=111
print(i)
si=str(i)
print(type(si))
print(si)
fs=float(i)
print(type(fs))
print(fs)

<class 'int'> <class 'float'> <class 'str'>
111
<class 'str'>
111
<class 'float'>
111.0

***Adding links to Markdown***

[Wikipedia](https://www.wikipedia.org/)

In [20]:
#length
a=123456
print(len(str(a)))

6

###Inserting image
![text]()

#Reading input from user using 'Input' function

In [25]:
name=int(input("Enter your name : "))
print(name)
print(type(name))

name=input("Enter your name : ")
print(name)
print(type(name))

Enter your name : 1
1
<class 'int'>
Enter your name : 1
1
<class 'str'>

#Operators
* Operator is a symbol used to perform a specific kind of operation
##Arithmetic Operator
* +
* -
* *
* /
* %     -->modulus
* //    -->floor
* **    -->power

In [28]:
a=1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

#Relational Operator
* =
* ==
* !=
* <
* (>)
* <=
* (>=)

In [30]:
a1=10
x=a1>15
print(x)

False

#Logical Operators
* and
* or
* not(!= can also be used)

In [35]:
i=100

a1=i>15 and i<800
a2=i>15 or i>800
a3=i!=100
i=not 100
print(a1,a2,a3,i)

True True False False

#Control Flow Statements
* Conditional statements
* Looping statements

* **Conditional statements** :
 #####  1.If-Else statements :
           Syntax :

            if Boolean_condition
                statements
            else
                statements

In [47]:
#To check given number is even or not
n=int(input("Enter a number : "))
if n%2==0:
 print(n," is even number")
else: 
  print(n," is odd number")

Enter a number : 3
3  is odd number

In [46]:
#Check given number is perfectly multiples of 3 and 5
n=int(input("Enter a number : "))
if n%3==0 and n%5==0:
  print(n," is perfect multiple")
else:
  print(n," is not a perfect multiple")

Enter a number : 30
30  is perfect multiple

In [50]:
#Check given number is positive,negative or zero
n=int(input("Enter a number : "))
if n>0:
  print("positive")
elif (n==0):
  print("Zero")
else:
  print("Negative")

Enter a number : 2
positive

In [54]:
#Largest number
n1=int(input("Enter 1st number :"))
n2=int(input("Enter 2nd number :"))

if n1>n2:
  print(n1," n1 is largest")
else:
  print(n2,"n2 is largest")

Enter 1st number :2
Enter 2nd number :3
3 n2 is largest

In [56]:
#largest of three numbers
n1=int(input("Enter 1st number :"))
n2=int(input("Enter 2nd number :"))
n3=int(input("Enter 3rd number :"))
if n1>n2 and n1>n3:
  print("n1 is largest")
elif n2>n3:
  print("n2 is largest")
else:
  print("n3 is largest")

Enter 1st number :-1
Enter 2nd number :3
Enter 3rd number :0
n2 is largest

In [0]:
#palindrome
n=int(input("Enter a number : "))
sum=0
temp=n
rem=temp%10
sum

In [62]:
#leap year
year=int(input("Enter year : "))
if (year%4==0): 
    if year%100==0:
        if(year%400==0):
            print("Leap year")
        else:
            print("Not a leap year")
    else: 
        print("Leap year")
else:
  print("Not a leap year")

Enter year : 2020
Leap year

In [0]:
2